{% extends 'taskapp/base1.html' %}

{% block content %}
        <div style="grid-column: 3">
            {% if user.is_authenticated %}
            {% else %}
            <meta http-equiv='refresh' content='0; URL=http://127.0.0.1:8000/login/'>
            {% endif %}
        </div>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
        	<a class="navbar-item" href="../sprint/create"> Создать спринт </a>
        </div>
    </div>
</nav>
    <section class="section">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Контрольный срок</th>
                <th>Дата выполнения</th>
                <th>Статус</th>
                <th>Проект</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            {% for sprint in sprint_ %}
                <tr>
                    <td>
                        {{ sprint.title }}
                    </td>
                    <td>
                        {{ sprint.created }}
                    </td>
                    <td>
                        {{ sprint.deadline }}
                    </td>
                    <td>
                        {{ sprint.completed }}
                    </td>
                    <td>
                        {{ sprint.sprint_status }}
                    </td>
                    <td>
                        {{ sprint.project_list }}
                    </td>
                    <td>
                        <a href="{% url 'edit_sprint' sprint.pk %}" type="button" class="btn btn-secondary btn-sm">Изменить</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_sprint' sprint.pk %}" type="button" class="btn btn-secondary btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}